body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
#constructor {
  /* background: url(http://ercportal.jrc.ec.europa.eu/portals/0/construction.png); */
  background-repeat: no-repeat;
  text-align: center;
}
p {
  color:white;
  font-size: 32px;
}
